body{
    background-color:whitesmoke;
    font-family: sans-serif, Helvetica, Arial;
}
body main p{
    text-align: center;
}

h1, h2{
    text-align: center;
}

main h2{
    font-weight: 700;
}

.main{
    text-align: center;
}


body .bend{
    
    color: brown;
}

.navbar{
    width: 100%;
    margin-bottom: 90px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight: 550;
}

.navbar li{
    margin: 2px;
    background-color: royalblue;
    border-radius: 5px;
}

.navbar li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

.navbar li a.active {
    background-color: #04AA6D;
    color: white;
}

.navbar li a:hover:not(.active) {
    background-color: blue;
    color: white;
    border-radius: 5px;
}

footer{
        text-align: center;
        color: #000;
        background-color:skyblue;
        padding: 8px 16px;
        text-decoration: none;
        height: fit-content;
        margin-top: 50px;
}

.columns{
    text-align: center;
    background-color:gold;
    padding: 20px;
    border-radius: 10px;
}

.column {
    width: auto;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    margin: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.update, .srgg{
    color: white;
    border-radius: 10px;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.update{
        background-color: rgb(47, 0, 156);
        border: 3px solid goldenrod;
}

.srgg{
    background-color:rgb(72, 87, 0);
    color: white;
    border: 3px solid yellow;
}

.one {
    background-color: #d9e8ff;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
}

.button{
    width: fit-content;
    align-self: center;
    padding: 10px;
    border: solid 2px goldenrod;
    border-radius: 10px;
    background-color:whitesmoke;
    text-decoration: none;
    margin: 10px;
}

iframe{
    height: 100vh;
}


/* copied from - https://codepen.io/demoonkevin/pen/MvPEpV */
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}